* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

.contact .content p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.vessel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}

.vessel .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.vessel .contactInfo .box {
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.vessel .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 30deg,#01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vessel .contactInfo .box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117deg,#01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
}
.vessel .contactInfo .box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}

.vessel .contactInfo .box .icon b {
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.vessel .contactInfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.vessel .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: white;
    font-family: 300;
}

.vessel .contactInfo .box .text h3 {
    font-weight: 500;
    color: #01dbc2;
}
